* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--main-font);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*Shoutout to https://www.color-name.com/ for some of the ~dramatic~ color names*/
  --main-font: 'League Spartan', system-ui, sans-serif;
  --secondary-font: 'Antonio', system-ui, sans-serif;
  --white-30: #ffffff30;
  --white-5e: #ffffff5e;
  --black: #000000;
  --rich-black: #070724;
  --arsenic: #38384f;
  --roman-silver: #838391;
  --light-silver-30: #d8d8d830;
  --mercury: #419ebb;
  --venus: #eda249;
  --earth: #6d2ed5;
  --mars: #d14c32;
  --jupiter: #d83a34;
  --saturn: #cd5120;
  --uranus: #1ec1a2;
  --neptune: #2d68f0;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
}

.mercury {
  background-color: var(--mercury);
}

.venus {
  background-color: var(--venus);
}

.earth {
  background-color: var(--earth);
}

.mars {
  background-color: var(--mars);
}

.jupiter {
  background-color: var(--jupiter);
}

.saturn {
  background-color: var(--saturn);
}

.uranus {
  background-color: var(--uranus);
}

.neptune {
  background-color: var(--neptune);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100dvh;
  width: 100%;
  background: no-repeat bottom url('../src/assets/svg/background-stars.svg');
  background-color: var(--rich-black);
  color: #ffffff;
}
